.blog-item-image {
  height: 400px;
  background-size: cover;
  background-position: center;
}

@media(max-width: 992px){
  .blog-item-image  {
      height: 208px;
  }
  .blog-item-content{
      height: 144px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
  }
}
@media(max-width: 766px){
  .blog-item-content{
      display: none;
  }
}

.blog-nav li a {
  border: 1px solid $secondary;  
  &:hover {
    color: $secondary;
    background-color: #fff;
  }
}
.blog-nav .material-symbols-outlined {
  &:hover {
    font-variation-settings:'wght' 700
  }
}
.blog a h3 {
  &:hover {
    font-weight: 700;
  }
}
.blog .more:hover {
  text-decoration: underline;
}
.breadcrumb a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    font-weight: 700;
  }
}
.prev-blog, .next-blog {
  &:hover {
    font-weight: 700;
  }
}