#city{
  max-width: 304px;
  width: 100%;
  height: 38px;
}
label.city-label {
  white-space:nowrap;
}
.location-card-image {
  height: 224px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.location-card {
  a{
    &:hover {
      background-color: $primary;
    }
    &:active {
      background-color: $secondary;
    }
  }
  hr {
    margin: 0;
  }
}

.location-page-card {
  width: 40%;
  margin-right: 24px;
  @include pad {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    align-items: stretch;
  }
  @include mobile {
    display: block;
    width: 100%;
  }
}
.location-page-card-image {
    height: 224px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include pad {
      width: 50%;
      margin-right: 24px;
    }
    @include mobile {
      width: 100%;
    }
}

.location-map {
  width: 60%;
  border: 1px solid #A00;
  @include pad {
    width: 100%;
    height: 414px;
  }
  @include mobile {
    height: 208px;
    
  }
}

.location-page-card-content {
  @include pad {
  width: 50%;
  }
  @include mobile {
    width: 100%;
  }
  hr {
    margin: 0;
  }
}
