.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
	@include pad(){
		max-width: 720px;
	}
	@include mobile(){
		max-width: 100%;
	}
}

/* header */
header {
	background-color: $primary;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include mobile(){
			flex-direction: column;
			padding: 0;
		}
	}
}
.logo{
	padding: 4px 0;
	a {
		display: block;
		width: 80px;
		height: 72px;
		background-image: url(../images/logo-white.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		text-indent: 101%;
		overflow:hidden;
		white-space: nowrap;
	}
}
.menu {
	display: flex;
	flex-wrap: wrap;
	@include mobile(){
		width: 100%;
	}
	li{
		@include mobile(){
				width: 50%;
		}
		a {
			display: block;
			color: #fff;
			text-decoration: none;
			font-size: 20px;
			line-height: 30px;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-left: 32px;
			padding-right: 32px;
			&:hover {
				color: $primary;
				background-color: #fff;
				border-color: $primary;
			}
			@include mobile(){
				margin-left: 0px;
				border: 1px solid #fff;
				text-align: center;
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
}

/* footer */
footer {
	background-color: $primary;
	color: #fff;
	padding: 48px 0 40px;
	@include mobile(){
		padding: 24px 0px;
	}
}
.footer {
	display: flex;
	justify-content: space-between;
}
.footer-menu {
	display: flex;
	margin-top: 12px;
	margin-bottom: 36px;
	@include pad(){
		margin-top: 8px;
	}
	@include mobile(){
		display: none;
	}
	a {
		color:#fff;
		text-decoration: none;
		font-size: 16px;
		line-height: 24px;
		margin-right: 48px;
		&:hover {
			font-weight: bold;
		}
	}
}
.contact {
	margin-bottom: 32px;
	@include mobile(){
		margin-bottom: 24px;
	}
	li {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		.material-symbols-outlined {
			font-size: 36px;
			margin-right: 22px;
			@include mobile(){
				font-size: 18px;
				margin-right: 11px;
			}
		}
	}
	a {
		color: #fff;
		text-decoration: none;
		font-size: 36px;
		line-height: 54px;
		@include mobile(){
			font-size: 16px;
			line-height: 24px;
		}
		&:hover{
			text-decoration: underline;
		}
	}
}
.social {
	display: flex;
	li {
		margin-left: 32px;
		@include pad(){
			margin-left: 16px;
		}
		@include mobile(){
			margin-left: 8px;
		}
	}
	a {
		display: block;
		width: 48px;
		height: 48px;
		background-size: contain;
		@include pad(){
			width: 40px;
			height: 40px;
		}
		@include mobile(){
			width: 24px;
			height: 24px;
		}
	}
}
.facebook {
	background-image: url(../images/ic-social-fb.png);
}
.instagram {
	background-image: url(../images/ic_social_ig.png);
}
.line {
	background-image: url(../images/ic_social_line.png);
}
.copyright {
	border-top: 1px solid #fff;
  padding-top: 32px;
	display: flex;
	justify-content: space-between;
	@include mobile(){
		display: block;
		padding-top: 16px;
	}
	p{
		font-size: 16px;
		line-height: 24px;
	}
	ul {
		display: flex;
		align-items: center;
		@include mobile(){
			display: block;
		}
		a {
			display: inline-block;
			color:#fff;
			text-decoration: none;
			font-size: 14px;
			line-height: 21px;
			margin-left: 48px;
			&:hover {
				font-weight: bold;
			}
			@include mobile(){
				margin-left: 0;
				margin-top: 8px;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
}
