/* 通用class */
$primary: #AA0601;
$secondary: #650300;

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.d-block {
	display: block;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex;
	}

@media(max-width: 992px){
	.d-md-none {
		display: none;
	}
	.d-md-block {
		display: block;
	}
	.d-md-flex {
		display: flex;
	}
}
@media(max-width: 767px){
	.d-sm-block {
		display: block;
	}
	.d-sm-inline-block {
		display: block;
	}
	.d-sm-none {
		display: none;
	}
	.d-sm-flex {
		display: flex;
	}
}

.justify-content-center {
	justify-content: center;
}
.justify-content-between {
justify-content: space-between;
}
.align-items-center {
align-items: center;
}
.flex-wrap{
flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
@media(max-width: 992px){
	.flex-md-row {
		flex-direction: row;
	}
	.flex-md-column {
		flex-direction: column;
	}
}
@media(max-width: 767px) {
	.flex-sm-column {
		flex-direction: column;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.row>.col {
	margin-left: 12px;
	margin-right: 12px;
}
.row-cols-4>.col {
	width: calc(25% - 24px);
}
.row-cols-3>.col {
	width: calc(33.33% - 24px);
}
.row-cols-2>.col {
	width: calc(50% - 24px);
}
@media(max-width: 992px){
	.row-cols-md-2>.col {
		width: calc(50% - 24px);
	}
}
@media(max-width: 767px) {
	.row-cols-sm-1>.col {
		width: calc(100% - 24px);
	}
}

.h-100 {
	height: 100%;
}
.w-100 {
	width: 100%;
}
.w-75 {
	width: 75%;
}
.w-66 {
	width: 66.66%;
}
.w-50 {
	width: 50%;
}
.w-33 {
	width: 33.33%;
}
.w-25 {
	width: 25%;
}
@media(max-width: 992px){
	.w-md-100 {
		width: 100%;
	}
	.w-md-75 {
		width: 75%;
	}
	.w-md-66 {
		width: 66.66%;
	}
	.w-md-50 {
		width: 50%;
	}
	.w-md-33 {
		width: 33.33%;
	}
	.w-md-25 {
		width: 25%;
	}
}
@media(max-width: 767px) {
	.w-sm-100 {
		width: 100%;
	}
	.w-sm-75 {
		width: 75%;
	}
	.w-sm-66 {
		width: 66.66%;
	}
	.w-sm-50 {
		width: 50%;
	}
	.w-sm-33 {
		width: 33.33%;
	}
	.w-sm-25 {
		width: 25%;
	}
}

.pl-12, .px-12 {
	padding-left: 12px;
}
.pr-12, .px-12 {
	padding-right: 12px;
}
.pl-24, .px-24 {
	padding-left: 24px;
}
.pr-24, .px-24 {
	padding-right: 24px;
}
.pl-16, .px-16 {
	padding-left: 16px;
}
.pr-16, .px-16 {
	padding-right: 16px;
}
.pt-8, .py-8 {
	padding-top: 8px;
}
.pb-8, .py-8 {
	padding-bottom: 8px;
}
.pt-12, .py-12 {
	padding-top: 12px;
}
.pb-12, .py-12 {
	padding-bottom: 12px;
}
.pt-16, .py-16 {
	padding-top: 16px;
}
.pb-16, .py-16 {
	padding-bottom: 16px;
}
.py-24 {
		padding-top: 24px;
		padding-bottom: 24px;
	}
.pt-40, .py-40 {
	padding-top: 40px;
}
.pb-40, .py-40 {
	padding-bottom: 40px;
}
.pt-64, .py-64 {
	padding-top: 64px;
}
.pb-64, .py-64 {
	padding-bottom: 64px;
}
.pt-80, .py-80 {
	padding-top: 80px;
}
.pb-80, .py-80 {
	padding-bottom: 80px;
}
.pt-96, .py-96 {
	padding-top: 96px;
}
.pb-96, .py-96 {
	padding-bottom: 96px;
}


@media(max-width: 992px){
	.px-md-0 {
		padding-left: 0;
		padding-right: 0;
	}
	.pt-md-80, .py-md-80 {
		padding-top: 80px;
	}
	.pb-md-80, .py-md-80 {
		padding-bottom: 80px;
	}
}

@media(max-width: 992px){
	.pt-sm-40, .py-sm-40 {
		padding-top: 40px;
	}
	.pb-sm-40, .py-sm-40 {
		padding-bottom: 40px;
	}
	.pt-sm-64, .py-sm-64 {
		padding-top: 80px;
	}
	.pb-sm-64, .py-sm-64 {
		padding-bottom: 80px;
	}
}

.mr-8, .mx-8 {
	margin-right: 8px;
}
.ml-8, .mx-8 {
	margin-left: 8px;
}
.ml-12, .mx-12 {
	margin-left: 12px;
}
.mr-12, .mx-12 {
	margin-right: 12px;
}
.ml-16, .mx-16 {
	margin-left: 16px;
}
.mr-16, .mx-16 {
	margin-right: 16px;
}
.mr-24 {
	margin-right: 24px;
}
.mr-48 {
	margin-right: 48px;
}
.mt-a {
	margin-top: auto;
}
.mb-4 {
	margin-bottom: 4px;
}
.mb-8 {
	margin-bottom: 8px;
}
.mt-16, .my-16 {
	margin-top: 16px;
}
.mb-16, .my-16 {
	margin-bottom: 16px;
}
.mt-24, .my-24 {
	margin-top: 24px;
}
.mb-24, .my-24 {
	margin-bottom: 24px;
}
.mt-32, .my-32 {
	margin-top: 32px;
}
.mb-32, .my-32 {
	margin-bottom: 32px;
}
.mt-40, .my-40 {
	margin-top: 40px;
}
.mb-40, .my-40 {
	margin-bottom: 40px;
}
.mt-48, .my-48 {
	margin-top: 48px;
}
.mb-48, .my-48 {
	margin-bottom: 48px;
}
.mt-60, .my-60 {
	margin-top: 60px;
}
.mb-60, .my-60 {
	margin-bottom: 60px;
}
.mt-80, .my-80 {
	margin-top: 80px;
}
.mb-80, .my-80 {
	margin-bottom: 80px;
}
.mt-96, .my-96 {
	margin-top: 96px;
}
.mb-96, .my-96 {
	margin-bottom: 96px;
}
.mb-48- {
	margin-bottom: -48px;
}
@media(max-width: 992px){
	.mt-md-4 {
		margin-top: 4px;
	}
	.mb-md-16 {
		margin-bottom: 16px;
	}
	.mt-md-24, .my-md-24 {
		margin-top: 24px;
	}
	.mb-md-24, .my-md-24 {
		margin-bottom: 24px;
	}
	.mt-md-40 {
		margin-top: 40px;
	}
	.mb-md-40 {
		margin-bottom: 40px;
	}
	.mt-md-80 {
		margin-top: 80px;
	}

	.mb-md-24- {
		margin-bottom: -24px;
	}
}
@media(max-width: 767px) {
	.mr-sm-8, .mx-sm-8 {
		margin-right: 8px;
	}
	.mt-sm-20, .my-sm-20 {
		margin-top: 20px;
	}
	.mb-sm-8 {
		margin-bottom: 8px;
	}
	.mb-sm-20, .my-sm-20 {
		margin-bottom: 20px;
	}
	.mb-sm-24 {
		margin-bottom: 24px;
	}
	.mt-sm-32, .my-sm-32 {
		margin-top: 32px;
	}
	.mb-sm-32, .my-sm-32 {
		margin-bottom: 32px;
	}
	.mt-sm-40, .my-sm-40 {
		margin-top: 40px;
	}
	.mb-sm-40, .my-sm-40 {
		margin-bottom: 40px;
	}
	.mt-sm-64, .my-sm-64 {
		margin-top: 64px;
	}
	.mb-sm-64, .my-sm-64 {
		margin-bottom: 64px;
	}
}

.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.top-0 {
	top: 0;
}
.bottom-0 {
	bottom: 0;
}
.left-0 {
	left: 0;
}
.right-0 {
	right: 0;
}


.text-primary {
	color: #AA0601;
}
.text-white {
	color: #fff;
}
.text-secondary{
	color:#650300
}
.text-gray5 {
	color: #555;
}
.bg-primary {
	background-color: #AA0601;
}
.bg-secondary {
	background-color: #650300;
}
.bg-white {
	background-color: #fff;
}
.bg-black {
	background-color: #000;
}
.opacity-70 {
	opacity: 0.7;
}


.border {
	border: 1px solid #000;
}
.border-left {
	border-left: 1px solid #000;
}
.border-top {
	border-top: 1px solid #000;
}
.border-0 {
	border: none;
}
.border-8 {
	border-width: 8px;
}
.border-primary {
	border-color: #AA0601;
}
.border-light {
	border-color: #00000020;
}


.fw-500 {
	font-weight: 500;
}
.fw-700 {
	font-weight: 700;
}
.fw-900 {
	font-weight: 900;
}

.fz-16 {
	font-size: 16px;
}
.fz-18 {
	font-size: 18px;
}
.fz-20 {
	font-size: 20px;
}
.fz-24 {
	font-size: 24px;
}
.fz-32 {
	font-size: 32px;
}
.fz-36 {
	font-size: 36px;
}
.fz-42 {
	font-size: 42px;
}
.fz-48 {
	font-size: 48px;
}
.lh-24 {
	line-height: 24px;
}
.lh-26 {
	line-height: 26px;
}
.lh-28 {
	line-height: 28px;
}
.lh-30 {
	line-height: 30px;
}
.lh-36 {
	line-height: 36px;
}
.lh-48 {
	line-height: 48px;
}
.lh-54 {
	line-height: 54px;
}
.lh-72 {
	line-height: 72px;
}
.lh-64 {
	line-height: 64px;
}
@media(max-width: 992px){
	.fz-md-16 {
		font-size: 16px;
	}
	.fz-md-24 {
		font-size: 24px;
	}
	.lh-md-24 {
		line-height: 24px;
	}
	.lh-md-36 {
		line-height: 36px;
	}
}
@media(max-width: 767px) {
	.fz-sm-16 {
		font-size: 16px;
	}
	.fz-sm-24 {
		font-size: 24px;
	}
	.lh-sm-24 {
		line-height: 24px;
	}
	.lh-sm-36 {
		line-height: 36px;
	}
}